<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="d-flex">
        <div class="sub-flex bg-dark">
            <img src="{% static 'imgs/loginpage.png' %}" alt="loginpage.png" height="786">
        </div>
        <div class="sub-flex-40">
            <center>
                <div class="login display-5">
                    <center>
                        <h1>LWP</h1>
                        <div class="login-sub">
                            <h4>Login</h4>
                            <p class="email-font">
                                Email
                            </p>
                            <div class="form-sign-in">
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="userid" class="font-weight-bold text-small"><b>Enter
                                                User ID</b></label>
                                        <input type="text" class="form-control" id="userid" name="userid" width="100"
                                            placeholder="ID" required>
                                        <label for="password" class="font-weight-bold text-small"><b>Enter
                                                password</b></label>
                                        <input type="password" class="form-control" id="password" name="password"
                                            width="100" required>
                                    </div>
                                    <input type="submit" value="LogIn" class="btn btn-m submit text-white">
                                </form>
                            </div>
                        </div>
                        <p class="font-weight-bold text-small">New User? <a href="{% url 'signup' %}">Register now</a>
                        </p>
                    </center>
                </div>
            </center>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>