<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'leaveApp/css/apply.css' %}">
</head>

<body>
    <header class="row">
        <div class="col-md-12 bg-dark py-3">
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-light left-sidebar" style="min-height: 100vh;">
                <ul class="btn btn-dark">
                    <li href="#" class="btn btn-dark width-side">Home</a>
                </ul>
            </div>

            <div class="col-md-6 main" style="min-height: 100vh;">
                <div class="d-flex flex-column justify-content-around">
                    <div class="d-inline-flex p-2">
                        <a href=""><img src="{% static 'leaveApp/imgs/apply.png' %}" alt="apply.png"></a>
                        {% if designation == "Manager" or designation == "HR" %}
                            <a href="{% url 'leaveApp:approve' %}">
                                <img src="{% static 'leaveApp/imgs/approve.png' %}" alt="apply.png">
                            </a>
                        {% endif %}
                    </div>
                    <form action="{%url 'leaveApp:apply'%}" method="post">
                        {% csrf_token %}
                        <div class="d-flex flex-row">
                            <div class="p-2 flex-fill">

                                <div class="mb-3">
                                    <label for="employeeId" class="form-label"><b>Employee ID</b></label>
                                    <input type="text" class="form-control" id="employeeId" name="employeeId"
                                        placeholder="eg 09JG65" required>
                                </div>

                                <div class="mb-3">
                                    <label for="name" class="form-label"><b>Employee Name</b></label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="eg. Atul Verma">
                                </div>

                                <label for="leave" class="font-weight-bold text-small mt-2">Leave Type</label>
                                <br>
                                <select class="form-select select form-control" name="leave" id="leave" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option>Casual Leave</option>
                                    <option>Sick Leave</option>
                                    <option>Personal Leave</option>
                                    <option>Long Service Leave</option>
                                    <option>Compensatory Leave</option>
                                    <option>Floating Holiday</option>
                                </select>

                                <label for="from_date" class="form-label font-weight-bold mt-3">From</label>
                                <div>
                                    <input type="date" class="form-control" name="from_date" id="from_date" width="50">
                                </div>
                            </div>

                            <div class="p-2 flex-fill">
                                <label for="caddress" class="font-weight-bold text-small"> Common Address</label>
                                <input type="text" class="form-control" id="caddress" name="caddress" width="100"
                                    required>

                                <label for="approver" class="font-weight-bold text-small mt-3">Approver</label>
                                <br>
                                <select class="form-select select form-control" name="approver" id="approver" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option>Manager</option>
                                    <option>HR</option>
                                </select>
                                <br>
                                <label for="approverId" class="font-weight-bold text-small "> Approver ID</label>
                                <input type="text" class="form-control" id="approverId" name="approverId" width="100"
                                    required>

                                <div class="mt-3 flex-fill">
                                    <label for="till_date" class="form-label font-weight-bold">Till</label>
                                    <div>
                                        <input type="date" class="form-control" name="till_date" id="till_date"
                                            width="50">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-2">
                            <div class="mb-3">
                                <label for="reason" class="form-label"><b>Reason</b></label>
                                <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>
                            </div>
                        </div>
                        <center>
                            <div class="p-2">
                                <input type="submit" value="Submit" class="bg-dark text-white buttonborder">
                            </div>
                        </center>
                    </form>
                </div>
            </div>

            <!-- Right Sidebar -->
            <div class="col-md-3 bg-light" style="min-height: 100vh;">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <footer>
                            <center>
                                <div class="container mt-5">
                                    <a class="btn btn-outline-danger p-4 btn-block" id="logoutBtn"
                                        href="{% url 'logout' %}">Logout</a>
                                </div>
                            </center>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

    </script>


    <!-- Bootstrap JS (Optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>